h1 {
    text-align: center;
    text-decoration: blue underline wavy;
    letter-spacing: 10px;
}

button {
    color: #B1A295;
    background-color: #5D5C61;
    border: none;
}

p {
    font-weight: bold;
    line-height: 2;
}

a {
    text-decoration: none;
    color: red;
}