* {
    color: blue;
}

h1,
h2 {
    text-align: center;
    text-decoration: blue underline wavy;
    letter-spacing: 10px;
    font-size: 80px;
    font-family: Avant Garde, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

button {
    color: #B1A295;
    background-color: #5D5C61;
    border: none;
}

p {
    font-weight: bold;
    line-height: 2;
}

a {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}

#css-button {
    background-color: rgb(49, 82, 109);
}

.animals {
    color: rgb(248, 4, 187);
    background-color: rgb(43, 255, 0);
}